/* My awesome style */


/* Global, Sitewide */
body { background: url(../img/woodgrain2.jpg);}

@import url(https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica);


/* Header*/
header img {width: 100px;}

/* Main Navigation */

nav li {list-style: none;
display: inline-block;}

nav a:link,
nav a:visited
{background: gold;
text-decoration: none;
padding: 1em;
transition: all .5s;}

nav a:hover{background: maroon;
}

nav a:active{background: gold;
margin-left: .5em;
}

/* Quote */

blockquote {text-align: center;
font-family: 'IM Fell Double Pica', serif;
font-size: 4em;
color:gold;
text-shadow: 5px 5px 0 black;}