

/* Color Palette */
.color-1 {background: Red;}


.color-2 {background: white;}

.color-3 {background: blue;} 

.color-4 {background: black;}

/* Texture and Patterns */

.pattern-1 { background: url("http://previews.123rf.com/images/astrozombie/astrozombie1305/astrozombie130500030/19828972-Grunge-american-flag-with-wooden-texture-Stock-Photo-wood.jpg") no-repeat ; 
background-size: cover; 
}

.pattern-2{ 
