

/* Color Palette */
.color-1 {background: Red;}


.color-2 {background: white;}

.color-3 {background: blue;} 

.color-4 {background: black;}

/* Texture and Patterns */

.pattern-1 { background: url("http://previews.123rf.com/images/astrozombie/astrozombie1305/astrozombie130500030/19828972-Grunge-american-flag-with-wooden-texture-Stock-Photo-wood.jpg") no-repeat ; 
background-size: cover; 
}

.pattern-2{background: url(../img/american.jpg) no-repeat;}

/*Imagery*/

.imagery-1 img {box-shadow: 5px 5px 0 red,
    5px 5px 0 white,
    5px 5px 0 blue ;}

/*Icon*/

.icon-1 { border: none; }

.icon-2 { background: url(../img/iconmonstr-home-1-240.png); }

    
/* Navigation */

nav li { list-style: none;
   float: left; 
    

}

nav a:link { background: gold;
    padding: 20px 20px 5px 20px;
    margin: 0 10px 0 10px;
    text-decoration: none;
    border-bottom: 3px solid black;
    border-radius: 5px;
color: black; }

nav a:visited { color: aqua; }

nav a:focus {border: 50px red; } 

nav a:hover { background: brown;
    color: white;
margin-top: 20px; }

nav a:active {background: black;}