

/* Color Palette */
.color-1 {background: black;}


.color-2 {background: grey;}

.color-3 {background: white;} 

.color-4 {background: gold;}

/* Texture and Patterns */

.pattern-1 { background: url(../img/woodgrain.jpeg) no-repeat ; 
background-size: cover; 
}

.pattern-2{background: url(../img/woodgrain2.jpg) no-repeat; background-size: cover;}

.pattern-3{background: url(../img/black-pattern.jpeg) no-repeat; background-size: cover;}


/*Imagery*/

.imagery-1 img {width: 300px; height: 150px;}
.imagery-3 img {width: 200px;}

/*Icon*/

.icon-1 img {width: 100px;}

.icon-2 img {width: 100px; }
.icon-3 img {width: 100px; }

    
/* Navigation */

nav li { list-style: none;
   float: left; 
    

}

nav a:link { background: gold;
    padding: 20px 20px 5px 20px;
    margin: 0 10px 0 10px;
    text-decoration: none;
    border-bottom: 3px solid black;
    border-radius: 5px;
color: black; }

nav a:visited { color: aqua; }

nav a:focus {border: 50px red; } 

nav a:hover { background: grey;
    color: white;
margin-top: 20px; }

nav a:active {background: black;}